<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839026782154-nja6e3tinjh546kppsggg8kllgng90ha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839026782154-nja6e3tinjh546kppsggg8kllgng90ha</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>839026782154-31r7h83jtacsha2oqfq0g01l7jnk4nbr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7u7dGb8V9mi-aNF6if2M2qaytO7zn_SI</string>
	<key>GCM_SENDER_ID</key>
	<string>839026782154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project888.scheme</string>
	<key>PROJECT_ID</key>
	<string>project-888-33c84</string>
	<key>STORAGE_BUCKET</key>
	<string>project-888-33c84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839026782154:ios:6e04f87d6c250ccb86a933</string>
</dict>
</plist>